@using BakerySystem.Web.ViewModels.Review;
@model ReviewFormModel;


<div class="container mt-4">
	<div class="row mx-0 justify-content-center">
		<div class="col-md-4 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
			<form method="post">
				<label class="d-block mb-3">
					<div class="form-group">
						<label asp-for="UserName"></label>
						<input asp-for="UserName" class="form-control" placeholder="">
						<span asp-validation-for="UserName" class="small text-danger"></span>
					</div>
				</label>
				<label class="d-block mb-4">
					<div class="form-group">
						<label asp-for="FeedBack"></label>
						<textarea asp-for="FeedBack" rows="4" class="form-control" placeholder=""></textarea>
						<span asp-validation-for="FeedBack" class="small text-danger"></span>
					</div>
				</label>
				<input class="btn btn-primary float-end " type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>



