@model CategoryViewModel;


@{


	ViewData["Title"] = "Add Category";

}


<div class="container">
	<div class="row">
		<div class="border p-3 mt-4 col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
			<form method="post">
				<div class="col pb-2">
					<h2 class="text-center">Create Category</h2>
					<hr />
				</div>
				<div class="border p-3 mt-4 col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
					<label asp-for="Name"></label>
					<input asp-for="Name" class="form-control">
					<span asp-validation-for="Name" class="small text-danger"></span>
				</div>
				<input class="btn btn-outline-primary float-end" type="submit" value="Create" />
			</form>
		</div>
	</div>
</div>


@* @foreach (var category in Model.Name)
{
	<div class="row gy-3">
		<div class="col-sm-4 col-md-3">


			@if (this.User.Identity.IsAuthenticated)
			{
				<a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id"
				   class="btn btn-warning">Edit</a>
				<a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id"
				   class="btn btn-danger">Delete</a>
				<p></p>
			}
		</div>
	</div>
} *@







