@model PossitionFormModel

@{

	ViewData["Title"] = "Edit";

}


<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


<div class="container">
	<div class="row">
		<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
			<h2 class="text-center"></h2>
			<form method="post">
				<div class="form-group">
					<label asp-for="PossitionName"></label>
					<input asp-for="PossitionName" class="form-control" placeholder="">
					<span asp-validation-for="PossitionName" class="small text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Salary"></label>
					<input asp-for="Salary" class="form-control" placeholder="">
					<span asp-validation-for="Salary" class="small text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ImageUrl"></label>
					<input asp-for="ImageUrl" class="form-control" placeholder="">
					<span asp-validation-for="ImageUrl" class="small text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PossitionDescription"></label>
					<textarea asp-for="PossitionDescription" rows="4" class="form-control" placeholder=""></textarea>
					<span asp-validation-for="PossitionDescription" class="small text-danger"></span>
				</div>

				<input class="btn btn-primary float-end " type="submit" value="Save" />

			</form>
		</div>
	</div>
</div>

