@using BakerySystem.Web.ViewModels.Product
@model IEnumerable<ProductListViewModel>

@{

	ViewData["Title"] = "Breads";


}

@*<div class="row">
	@foreach (var product in Model)
	{
		
			<div class="card" style="width: 18rem;">
				<img  src="@product.ImageUrl" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">@product.Name</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add to cart</a>
				</div>
			</div>
		

	}
</div>
*@
@foreach (var product in Model)
{
<div class="container">
	<div class="row gy-3">
		<div class="col-md-3">
			<div class="card">
					<img src="@Url.Content(product.ImageUrl)" class="card-img-top" style="background-color: gray; height: 250px; width: 100%;"
					 alt="...">
				<div class="card-body">
					<h5 class="card-title">@product.Name</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add to Card</a>
				</div>
			</div>
			</div>
		</div>
	</div>

}
	@*	</div>
		<div class="col-md-3">
			<div class="card">
				<img class="d-block w-100" style="background-color: gray; height: 250px; width: 100%;"
					 src="~/Images/CategoryImages/soda bread.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Soda Bread</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add to Card</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="d-block w-100" style="background-color: gray; height: 250px; width: 100%;"
					 src="~/Images/CategoryImages/Baguette.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Baguettes</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add  to Card</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="d-block w-100" style="background-color: gray; height: 250px; width: 100%;"
					 src="~/Images/CategoryImages/Bagel.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Bagels</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add to Card</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="d-block w-100" style="background-color: gray; height: 250px; width: 100%;"
					 src="~/Images/CategoryImages/bread rolls.jpg" class="card-img-top alt="...">
				<div class="card-body">
					<h5 class="card-title">Bread Rolls</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add to Card</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="d-block w-100" style="background-color: gray; height: 250px; width: 100%;"
					 src="~/Images/CategoryImages/challah.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Challah</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add to Card</a>
				</div>
			</div>*@
		
