@using BakerySystem.Web.ViewModels.Product;
@model IEnumerable<EasterBreadsViewModel>;

@{
	ViewData["Title"] = "Easter Breads";

}

<div class="container align-content-center">
	<div class="row gy-3">
		<div class="col-md-4">
			<div class="card">
				<img src="~/Images//CategoryImages/classic easter bread.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Classic Easter Bread</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img src="~/Images//CategoryImages/Easter Bread with.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Easter Bread With Marmalade</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img src="~/Images//CategoryImages/eaterBread.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Easter Bread With Chocolate</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add</a>
				</div>
			</div>
		</div>
	</div>
</div>



