@* @model List<CategoryListingViewModel>

<ul>
@foreach (var category in Model)
{

	

	<li class="nav-item dropdown">
		<div class="dropdown">
			<button class="btn dropdown-toggle" role="button"
					data-bs-toggle="dropdown">
				Categories
			</button>
			<ul class="dropdown-menu mt-3">
				<li>
					<a class="dropdown-item" asp-controller="Product" asp-action="All" asp-route-id="@Model.CategoryId">@Model.Name</a>
				</li>
			</ul>
		</div>

	</li>


}
</ul>
 *@