@using BakerySystem.Services.Interfaces;
@using static BakerySystem.Common.GeneralApplicationConstants;


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title class="navbar-text: navbar-dark">@ViewData["Title"] - Petiny Bakery</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/BakerySystem.Web.styles.css" asp-append-version="true" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-gradient navbar-dark border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Petiny Bakery</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						@* <li class="nav-item dropdown">
							<div class="dropdown">
								<button class="btn dropdown-toggle" role="button"
										data-bs-toggle="dropdown">
									Categories
								</button>
								<ul class="dropdown-menu mt-3">
									<li>
										<a class="dropdown-item" asp-controller="Product" asp-action="All" asp-route-id="1">Breads</a>
									</li>
									<li>
										<a class="dropdown-item" asp-controller="Product" asp-action="All" asp-route-id="2">Easter Breads</a>
									</li>
									<li>
										<a class="dropdown-item" asp-controller="Product" asp-action="All" asp-route-id="3">Sandwiches</a>
									</li>
									<li>
										<a class="dropdown-item" asp-controller="Product" asp-action="All" asp-route-id="10">Cakes</a>
									</li>
									<li>
										<a class="dropdown-item" asp-controller="Product" asp-action="All" asp-route-id="6">Drinks</a>
									</li> 

								</ul>
							</div>

						</li> *@
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="All">Reviews</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Hiring" asp-action="WeAreHiring">Join Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Contact">Contact Us</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; Petiny Bakery @ReleaseYear
			@if (DateTime.UtcNow.Year != ReleaseYear)
			{
				@Html.Raw($" - {DateTime.UtcNow.Year}")
				;

			}
		</div>
	</footer>

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
